.smart-body{
	margin:0;
	display: flex;
	flex-wrap: wrap;
}
.container{
	background-color: #fff;
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
    width: 25%;
	flex-grow: 1;
}
.smart-shit{
	font-family: Arial, sans-serif;
	font-size: 30px;
    font-weight: 200;
    text-align: center;
}
.smart-shit .smart-shit-name{
	font-size: 16px;
	font-weight: 100;
	margin: 0 0 10px;
}
.smart-body .building{
	flex-grow: 1;
	width: 100%;
	font-family: 'TORR Sans', Arial, sans-serif;
	font-weight: 100;
	font-size: 23px;
	text-transform: uppercase;
	margin: 0 10px;
}